
.header {
    text-align: center;
}

body{
<<<<<<< HEAD
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg%27%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23bbccdd' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.container{
    font-family: 'Plus Jakarta Sans', sans-serif;
=======
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23bbccdd' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.container{
	font-family: 'Plus Jakarta Sans', sans-serif;
>>>>>>> 6e73b820e7ed40a78731e9b876b2714a22a45d36
}

.navbar{
padding: 0px 50px;
}

.search{
<<<<<<< HEAD
    margin-left: 15%;
    margin-right: 20%;
}

.bi-person-circle{
    font-size: 32px;
    color: black;
}

.bi-person-circle:hover{
    color: rgb(93, 139, 93);
}

.logout{
    line-height: 20px;
}


h1,h3 {
    color: rgb(93, 139, 93);
    font-style: italic;
    text-align: center;
}

.courses-add{
    display: flex;
    align-items: center;
    gap: 20px;
}

.bi-plus-circle-dotted{
    font-size: 20px;
    color: rgb(93, 139, 93);
    text-decoration: none;
}

.bi-arrow-left-circle, .bi-arrow-right-circle{
    font-size: 30px;
    position: absolute;
    top:380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-arrow-left-circle{
    left: 0;
    z-index: 5;
    margin-left: 10px;
}

.bi-arrow-right-circle{
    right: 0;
    margin-right: 10px;
}

.bi-arrow-left-circle:hover, .bi-arrow-right-circle:hover{
    color: rgb(93, 139, 93);
    cursor: pointer;
=======
	margin-left: 15%;
	margin-right: 20%;
}

h1,h3 {
	color: rgb(93, 139, 93);
	font-style: italic;
	text-align: center;
}

.prev-arrow, .next-arrow{
	width: 4vw;
	height: 50px;
	position: absolute;
	top:380px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.prev-arrow{
	left: 0;
	z-index: 5;
}

.next-arrow{
	right: 0;
}

.btn-outline-dark{
	border: none !important;
}

.btn-outline-dark:hover{
	background-color: rgb(167, 183, 209) !important;
	box-shadow: 2px 2px 7px rgb(167, 183, 209);
	transition: all 0.30s ease-in-out;
>>>>>>> 6e73b820e7ed40a78731e9b876b2714a22a45d36
}


.card{
<<<<<<< HEAD
    box-shadow: 5px 4px 10px rgb(167, 183, 209);
}

.card-title a{
    text-decoration: none !important;
    color: black !important;
}

.card-title:hover{
    font-size: 22px;
    border: 2px solid rgb(149, 168, 149);
    cursor: pointer;
    transition: all 0.30s ease-in-out;
}

.card-footer {
    background-color: rgb(232, 236, 242) !important;
}

.form-container{
    text-align: center;
    margin: 0 auto;
    background-color: rgb(232, 236, 242);
    border: 4px solid rgb(144, 155, 171);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 90px;
}

.date-teacher{
    display: flex;
}

.form-control{
    margin: 0 auto;
}

.newCourse-btns{
    text-align: center;
    margin-top: 70px;
}

.cancel:hover, .submit:hover{
    background-color: rgb(93, 139, 93) !important;
    border: 2px solid black ;
    transition: all 0.30s ease-in-out;
}

.regimg {
    width: 200px;
    height: 150px;
}

.regi_card {
    align-items: center;
    margin: 10px;
    padding: auto;
    justify-content: center;
=======
	box-shadow: 5px 4px 10px rgb(167, 183, 209);
}

.card-title a{
	text-decoration: none !important;
	color: black !important;
}

.card-title:hover{
	font-size: 22px;
	border: 2px solid rgb(149, 168, 149);
	cursor: pointer;
	transition: all 0.30s ease-in-out;
}

.card-footer {
	background-color: rgb(232, 236, 242) !important;
>>>>>>> 6e73b820e7ed40a78731e9b876b2714a22a45d36
}


